@page "/RecieveMessage"
@using Microsoft.AspNetCore.SignalR.Client
@rendermode InteractiveServer

<h3>RecieveMessage</h3>
<ul>
    @foreach (var msg in messages)
    {
        <li>@msg</li>
    }
</ul>

@code {
    private HubConnection? connection;
    private List<string> messages = new();

    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/messagehub"))
            .WithAutomaticReconnect()
            .Build();

        connection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add($"{user}: {message}");
            InvokeAsync(StateHasChanged); // UI更新
        });

        await connection.StartAsync();
    }
}