@page "/rooms"
@using QuizApp.Components.Logic
@using QuizApp.Components.Model
@rendermode InteractiveServer

@inject RoomManager RoomManager
@inject NavigationManager Navigation

<PageTitle>ルーム一覧</PageTitle>
<h3>ルーム一覧</h3>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 30%">名前</th>
            <th style="width: 20%"></th>
            <th style="width: 50%">ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in _rooms)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href="@($"rooms/{room.ID}")">
                        @room.RoomName
                    </NavLink>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary mb-2" @onclick="() => Answer(room.ID)">回答</button>
                    <button type="button" class="btn btn-outline-secondary mb-2" @onclick="() => Confirm(room.ID)">結果確認</button>
                </td>
                <td>@room.ID</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Room> _rooms = new();

    protected override void OnInitialized()
    {
        _rooms = RoomManager.Rooms;
    }

    private void Answer(string roomId)
    {
        Navigation.NavigateTo($"/rooms/{roomId}");
    }

    private void Confirm(string roomId)
    {
        Navigation.NavigateTo($"/leaderboardpage/{roomId}");
    }
}
